<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>999 Memory</title>
    <style>

        #app div{
            display:inline-block;
        }
        #app p{
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">

        <div class="settings">
            <input type="number" min="1" max="999" v-model="min">
            <input type="number" min="1" max="999" v-model="max">

        </div>
        <div class="num">
            <h1>{{choosen[0]}}</h1>
            <div class="hidden">
                <h3>{{numbers[choosen[0]-1]?numbers[choosen[0]-1].name:''}}</h3>
                <img :src="`photos/${choosen[0]}.jpg`" :alt="options['opt1']">
            </div>
        </div>
        <div class="options">
            <div id="opt1">
                <img :src="`photos/${options[0]}.jpg`" :alt="options['opt1']">
            </div>

            <div id="opt2">
                <img :src="`photos/${options[1]}.jpg`" :alt="options['opt2']">
            </div>

            <div id="opt3">
                <img :src="`photos/${options[2]}.jpg`" :alt="options['opt3']">
            </div>

            <div id="opt4">
                <img :src="`photos/${options[3]}.jpg`" :alt="options['opt4']">
            </div>

            <div id="opt5">
                <img :src="`photos/${options[4]}.jpg`" :alt="options['opt5']">
            </div>

            <div id="opt6">
                <img :src="`photos/${options[5]}.jpg`" :alt="options['opt6']">
            </div>

        </div>
        <div class="buttons">
            <button class="yes-button" v-on:click="yesHendler" >yeap {{win}}</button>
            <button class="no_button" v-on:click="noHendler" >nope {{err}}</button>
        </div>



    </div>
    <script src="d3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>