<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>999 Memory</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app" class="container">

        <div class="row">
            <div class="settings">
                <input
                        v-on:change="again"
                        type="number"
                        min="1"
                        max="999"
                        v-model="min"
                >
                <input
                        v-on:change="again"
                        type="number"
                        min="1"
                        max="999"
                        v-model="max"
                >
            </div>

        </div>
        <div class="row num">
            <h1 v-on:click="toggle">{{ choosen[0] }}</h1>
            <div :class="{hidden: hidden}">
                <h3>{{ numbers[choosen[0]-1] ? numbers[choosen[0]-1].name : '' }}</h3>

            </div>
        </div>
        <div class="row">
            <div class="options">
                <div v-for="(i,j) in options" :id="`opt${j+1}`">
                    <span :data-numb="options[j]" v-on:click="check" class="check">
                    <img
                            :src="`photos/${i}.jpg`"
                            :title="`${options[j]}`"
                            :alt="options[j]"
                    >
                    </span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="buttons">

                <button
                        class="yes-button"
                        v-on:click="yesHendler"
                >
                    Yeap:
                    <span>{{win}}</span>
                </button>

                <button
                        class="no_button"
                        v-on:click="noHendler"
                >
                    Nope:
                    <span>{{err}}</span>
                </button>

            </div>
        </div>
        <div id="error-count" v-if="Object.keys(errors).length !== 0">

            <h3>Error Count Details</h3>
            <p v-for="(k,v) in errors" >
                {{v}} - {{k.length}}
            </p>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="index.js"></script>
</body>

</html>